{% extends 'main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/chartpage.css' %}">

<div class="chartpage-container">
    <div class="chartpage-container-element">
        <h1>Best Movies{{ year_str }}</h1>
        <hr>
        <div class="chartpage-container-element-header">
            <p id="title">Movie</p>
            <p id="title">Title</p>
            <p>Avg</p>
            <p>Rating</p>
            <p>Review</p>
        </div>
        <hr>
        {% for movie in movies %}
        <div class="chartpage-container-element-grp">
            <div class="chartpage-container-element-grp-img">
                <a href="{% url 'movie-page' movie.pk %}"><img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="100%"></a>
            </div>
            <div class="chartpage-container-element-grp-metadata">
                <a href="{% url 'movie-page' movie.pk %}">{{ movie.title }}</a>
            </div>
            <div class="chartpage-container-element-grp-reviewdata">

            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <h2>Filter</h2>
    </div>
</div>

{% endblock %}