{% extends 'main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/chartpage.css' %}">

<div class="chartpage-container">
    <div class="chartpage-container-element">
        <h1>Best Movies{{ year_str }}</h1>
        <hr>
        {% for movie in movies %}
        <div class="chartpage-container-element-grp">
            <a href="{% url 'movie-page' movie.movie_id %}"><img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="100%"></a>
            <a href="{% url 'movie-page' movie.movie_id %}">{{ movie.title }}</a>
        </div>
        {% endfor %}
    </div>
    <div>
        <h2>Filter</h2>
    </div>
</div>

{% endblock %}