{% extends 'main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/genrepage.css' %}">

<div class="genrepage-container">
    <h1>{{ genre.name }}</h1>
    <h3>Description</h3>
    {% if genre.description == '' and request.user.is_authenticated %} <a href="">Add a description</a> 
    {% else %} <p>{{ genre.description }}</p> {% endif %}
    <h3>Filmography</h3>
    <p>{{ num_movie }} Movie Releases</p>
    <hr>
    <div class="genrepage-container-header">
        <div>
            Release Date
        </div>
        <div class="genrepage-container-element-grp">
            <div>Avg</div>
            <div>Rating</div>
            <div>Reviews</div>
        </div>
    </div>
    <hr>
    {% for movie in movies %}
    <div class="genrepage-container-list">
        <div>
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="100%">
        </div>
        <div class="genrepage-container-list-data">
            <a href="">{{ movie.title }}</a>
            <br>
            <a href="">{{ movie.release_date|date:"Y" }}</a>
        </div>
        <div class="genrepage-container-element-grp">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}