{% extends 'main.html' %}

{% block content %}

<style>
    .homepageContainer{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 4%;
        padding: 4%;
    }
    .recentReviews {
        display: grid;
        grid-gap: 4%;
    }
    .recentMovieContainer {
        display: grid;
        padding: 3%;
        grid-gap: 3%;
        grid-template-columns: 1fr 2fr;
    }
    .img-container {
        height: auto;
    }
    .recentReviewsContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 3%;
        grid-gap: 3%;
        background-color: #F5F5F5;
    }
</style>

<div class="homepageContainer">
    <section class="recentlyAdded">
        <h2>Recently Released Movies</h2>
        <hr>
        {% for movie_genre in movie_genres %}
        <div class="recentMovieContainer">
            <div class="img-container">
                <img src="{{movie_genre.0.poster.url}}" alt="{{movie_genre.0.title}}" width="100%">
            </div>
            <div>
                <div>
                    <h3>{{movie_genre.0.title}}</h3>
                </div>
                <div>
                    {{movie_genre.0.release_date}}
                    {{movie_genre.0.runtime}}
                    {% for genre in movie_genre.1 %}
                        {{genre.name}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                <div>
                    Rating: {{movie_genre.0.average_score}}
                </div>
            </div>
            <div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </section>
    <section>
        <h2>Recent Reviews</h2>
        <hr>
        <div class="recentReviews">
            {% for review_movie in review_movies %}
            <div class="recentReviewsContainer">
                <div class="review-image-container">
                    <img src="{{review_movie.1.poster.url}}" alt="{{review_movie.1.title}}" width="100%">
                </div>
                <div class="review-body-container">
                    <h1>{{review_movie.1.title}}</h1>
                    {{review_movie.0.body}}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}