{% extends 'main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/moviepage.css' %}">

<div class="movie-page-container">
    <div class="menu-container">
        
    </div>
    <div class="header-container">
        <div>
            <h1 class="title">{{ movie.title }}</h1>
        </div>
        <div class="rating-container">
            <div>
                <p>User Rating</p>
                {% if rating == none %} No Reviews {% else %} {{rating}}/10 {% endif %}
            </div>
            <div>
                <p>Your Rating</p>
                {% if rating == none %} No Reviews {% else %} {{rating}}/10 {% endif %}
            </div>
        </div>
    </div>
    <div>
        {{ movie.release_date|date:"Y" }} - {{ movie.runtime }}min
    </div>
    <div class="movie-metadata">
        <div>
            <img src="{{movie.poster.url}}" alt="{{movie.title}}" width="100%">
        </div>
        <div>
            <h2>Description</h2>
            {{ movie.description }}
        </div>
        <div class="genre-holder">
            {% for genre in genres %}
            <a href="{% url 'genre-page' genre.genre_id %}">
                <div class="genre-element">{{ genre.name }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}