{% extends 'main.html' %}

{% block content %}

<style>
    .registerpage {
        display: flex;
        margin: auto;
        width: 30%;
        height: 90vh;
        align-items: center;
    }
    .registerpage-container {
        width: 100%;
        padding: 28px;
        background-color: #F5F5F5;
        border-radius: 15px;
    }
    .registerpage-container form input {
        width: 100%;
        box-sizing: border-box;
    }
    .registerpage-container form button {
        width: 100%;
    }
</style>

<div class="registerpage">
    <div class="registerpage-container">
        <h2>Login</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" />
        </form>
    </div>
</div>

{% endblock %}