{% extends 'main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/searchpage.css' %}">

<div class="searchpage-container">
    <h1>Movies</h1>
    <hr>
    <section class="searchpage-container-element">
        {% for movie in movies %}
        <div class="searchpage-container-element-grp">
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="100%">
            <a href="{% url 'movie-page' movie.pk %}">{{ movie.title }}</a>
        </div>
        {% endfor %}
    </section>

    <h1>Cast/Crew</h1>
    <hr>
    <section class="searchpage-container-element">
        {% for person in people %}
        <div class="searchpage-container-element-grp">
            {{ person.name }}
        </div>
        {% endfor %}
    </section>

    <h1>Users</h1>
    <hr>
    <section class="searchpage-container-element">
        {% for user in users %}
        <div class="searchpage-container-element-grp">
            {{ user.username }}
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}