{% extends 'main.html' %}

{% load static %}

{% block content %}

{% if user == request.user %}
<link rel="stylesheet" href="{% static 'styles/editpopup.css' %}">
{% include 'MyReviews/editmovie.html' %}
{% include 'MyReviews/editreview.html' %}
{% include 'MyReviews/edituser.html' %}
{% endif %}

<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}">
<link rel="stylesheet" href="{% static 'styles/userprofile_dropdown.css' %}">

<div class="profilepage-container">
    <section class="profilepage-container-user">
        <div class="profilepage-container-user-background">
            
        </div>
        <div class="profilepage-container-user-profilepic">
            <div class="profilepage-container-user-profilepic-background">

            </div>
            <img src="{{ user.picture.url }}" alt="{{ user.username }}">
        </div>
        <div class="profilepage-container-user-aboutme">
            <h1>{{ user.username }}</h1>
            <div class="element-edit">
                <h3>About</h3>
            </div>
        </div>
        <div class="profilepage-container-user-reviews">
            {% include 'MyReviews/userprofile_reviewdropdown.html' %}
        </div>
        <div class="profilepage-container-user-movies">
            {% include 'MyReviews/userprofile_moviedropdown.html' %}
        </div>
    </section>
    <section class="profilepage-container-misc">
        <div class="profilepage-container-misc-suggestedusers">

        </div>
    </section>
</div>

<script src="{% static 'scripts/popup.js' %}"></script>

{% endblock %}