{% extends 'main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}">

<div class="profilepage-container">
    <section class="profilepage-container-user">
        <div class="profilepage-container-user-background">
            
        </div>
        <div class="profilepage-container-user-profilepic">

        </div>
        <div class="profilepage-container-user-aboutme">

        </div>
        <div class="profilepage-container-user-reviews">

        </div>
    </section>
    <section class="profilepage-container-misc">
        <div class="profilepage-container-misc-suggestedusers">

        </div>
    </section>
</div>

{% endblock %}