{% extends 'main.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/userprofile.css' %}">

<div class="profilepage-container">
    <section class="profilepage-container-user">
        <div class="profilepage-container-user-background">
            
        </div>
        <div class="profilepage-container-user-profilepic">
            <div class="profilepage-container-user-profilepic-background">

            </div>
            <img src="{{ request.user.picture.url }}" alt="{{ request.user.username }}">
        </div>
        <div class="profilepage-container-user-aboutme">
            <h1>{{ request.user.username }}</h1>
            <div class="element-edit">
                <h3>About</h3>
                <div><a href="{% url '' %}"><p>Edit</p></a></div>
            </div>
        </div>
        <div class="profilepage-container-user-reviews">
            <h3>Reviews</h3>
            
        </div>
        <div class="profilepage-container-user-movies">
            <h3>Added Movies</h3>
            
        </div>
    </section>
    <section class="profilepage-container-misc">
        <div class="profilepage-container-misc-suggestedusers">

        </div>
    </section>
</div>

{% endblock %}