<div class="element-edit">
    <h3>Reviews</h3>
    {% if user.username == request.user.username %}
    <div onclick="displayReviewForm()"><p>Create</p></div>
    {% endif %}
</div>
<div class="reviews-container">
    <div class="reviews-container-scroll">
        {% for review in reviews %}
        <div class="imgholder">
            <img class="small-icon" src="{{ review.movie.poster.url }}" alt="{{ review.movie.title }}" height="90px" width="90px">
        </div>
        <div class="movieholder">
            <div class="movieholder-metadata">
                <p>{{review.movie.title}}</p>
                <p>{{review.movie.release_date|date:'Y'}}</p>
            </div>
            <div class="movieholder-body">
                <p>{{review.body}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>