#review-popup {
    visibility: hidden;
}
#movie-popup {
    visibility: hidden;
}
#user-popup {
    visibility: hidden;
}
.edit-container {
    position: fixed;
    display: grid;
    z-index: 9;
}
.edit-container-user {
    display: none;
}