p {
    margin: 0;
}
.loginpage {
    display: flex;
    margin: auto;
    width: 30%;
    height: 90vh;
    align-items: center;
}
.loginpage-container {
    width: 100%;
    padding: 28px;
    background-color: #F5F5F5;
    border-radius: 15px;
}
.loginpage-container form label {
    margin-top: 10px;
}
.loginpage-container form input {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.loginpage-container form button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}