.profilepage-container {
    width: 90%;
    min-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}
.profilepage-container-user {
    background-color: white;
}
.profilepage-container-user-background {
    position: relative;
    background-color: #F5F5F5;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    height: 200px;
    margin-bottom: 6px;
}
.profilepage-container-user-profilepic {
    position: relative;
    z-index: 5;
    left: 5%;
    bottom: 100px;
    background-color: transparent;
    width: 0;
    height: 0;
}
.profilepage-container-user-profilepic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 8px;
    border-color: white;
    border-style: solid;
}
.profilepage-container-user-aboutme {
    position: relative;
    background-color: #F5F5F5;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 100%;
    height: 400px;
    margin-top: 6px;
}
.profilepage-container-misc {
    background-color: #F5F5F5;
    margin-left: 12px;
    margin-right: 12px;
}