@keyframes dropdown {
    0%  { height: 0px; visibility: hidden;}
    100%{ height: 300px; visibility: hidden;}
}
@keyframes dropup {
    0%  { height: 300px; visibility: hidden;}
    100%{ height: 0px; visibility: hidden;}
}
.profilepage-container-user-reviews:hover .reviews-container {
    animation-name: dropdown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    height: 350px;
    visibility: visible;
}
.reviews-container {
    animation-name: dropup;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    display: block;
    position: relative;
    visibility: hidden;
    z-index: 0;
    height: 0px;
    overflow-y: auto;
}
.reviews-container-scroll {
    display: grid;
    grid-template-columns: 100px 1fr;
    background-color: white;
    padding: 10px;
}
.reviews-container img {
    
}
.profilepage-container-user-movies:hover .movie-container {
    animation-name: dropdown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    height: 350px;
    display: grid;
    visibility: visible;
}
.movie-container {
    animation-name: dropup;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    display: none;
    position: relative;
    visibility: hidden;
    z-index: 0;
    height: 0px;
    grid-template-columns: 100px 1fr;
    overflow-y: auto;
}
.imgholder {
    background-color: white;
    padding: 5px;
}
.movieholder {
    display: grid;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: 1fr 3fr;
}
.movieholder-body {

}