@keyframes dropdown {
    0%  { height: 0px; display: grid; visibility: hidden;}
    100%{ height: 300px; display: grid; visibility: hidden;}
}
@keyframes dropup {
    0%  { height: 300px; display: grid; visibility: hidden;}
    100%{ height: 0px; display: grid; visibility: hidden;}
}
.profilepage-container-user-reviews:hover .reviews-container {
    animation-name: dropdown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    height: 300px;
    display: grid;
    visibility: visible;
}
.reviews-container {
    animation-name: dropup;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    display: grid;
    position: relative;
    visibility: visible;
    z-index: 0;
    height: 300px;
    grid-template-columns: 100px auto;
}
.profilepage-container-user-movies:hover .movie-container {
    animation-name: dropdown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    height: 300px;
    display: grid;
    visibility: visible;
}
.movie-container {
    animation-name: dropup;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    display: none;
    position: relative;
    visibility: hidden;
    z-index: 0;
    height: 0px;
    grid-template-columns: 100px auto;
}
.movieholder {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.movieholder-metadata p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movieholder-body {

}