<style>
    body {
        margin: 0;
    }
    .navigationBarHolder {
        display: grid;
        width: 100%;
        height: 40px;
    }
    .navigationBar {
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
        height: 40px;
        border-bottom-style: outset;
        border-bottom-color: #F5F5F5;
        background-color: white;
    }
    .elementContainer {
        display: grid;
        grid-template-columns: 3fr 5fr 1fr;
        height: 100%;
        align-items: center;
    }
    .elementContainer div {
        text-align: center;
    }
    .navButton {
        padding: 8px;
    }
    .navButton:hover {
        background-color: #F5F5F5;
    }
    .buttonGroup {
        display: grid;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 10%;
        padding-right: 10%;
        align-items: center;
    }
    .searchBar {
        margin-left: 1%;
        margin-right: 1%;
    }
    .searchBar form input {
        border: 0;
        width: 100%;
        height: 24px;
        background-color: #F5F5F5;
    }
    .signinContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
</style>

<div class="navigationBarHolder">
    <div></div>
    <div class="navigationBar">
        <div class="elementContainer">
            <div class="buttonGroup">
                <a href="{% url 'home-page' %}">
                    <div class="navButton">Logo</div>
                </a>
                <a href="">
                    <div class="navButton">Genre</div>
                </a>
                <a href="{% url 'chart-home' %}">
                    <div class="navButton">Chart</div>
                </a>
            </div>
            <div class="searchBar">
                <form action="{% url 'search-page' %}" method="GET">
                    <input type="text" name="search_query" placeholder="Search"/>
                    <input type="submit" value="Submit" style="display: none;">
                </form>
            </div>
            <div class="signinContainer">
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile-page' request.user.id %}">
                    <div class="navButton">{{request.user.username}}</div>
                </a>
                {% else %}
                <a href="{% url 'login-page' %}">
                    <div class="navButton">Signin</div>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>